In [1]:
import pandas as pd
import numpy as np

# Set a rendom points 
np.random.seed(1000)

sample = 1000
class_ratio = 0.9
class_1 = int(sample * class_ratio)
class_2 = int(sample- class_1)

In [3]:
print(class_1)
print(class_2)

900
100

In [6]:
## Create a DAtaframe with imbalanced classes
class_1_data = pd.DataFrame({
    'feature_1': np.random.normal(loc=0 , scale=1, size=class_1),
    'feature_2': np.random.normal(loc=0 , scale=1, size=class_1),
    'target':[0] * class_1
})  
class_2_data = pd.DataFrame({
    'feature_1': np.random.normal(loc=2 , scale=1, size=class_2),
    'feature_2': np.random.normal(loc=2 , scale=1, size=class_2),
    'target':[1] * class_2
})

In [7]:
df=pd.concat([class_1_data,class_2_data]).reset_index(drop =True)
df

     feature_1  feature_2  target
0    -0.804458  -0.943086       0
1     0.320932  -0.600078       0
2    -0.025483   0.819486       0
3     0.644324   0.500987       0
4    -0.300797  -0.627956       0
..         ...        ...     ...
995   1.359728   1.347010       1
996   1.583076   2.433163       1
997   3.048504  -0.101560       1
998   1.311551   1.712508       1
999   3.361135   0.972246       1

[1000 rows x 3 columns]

In [9]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [13]:
### Upsampling 
df_minority = df[df['target']==1]
df_majority =df[df['target']==0]

In [15]:
from sklearn.utils import resample
df_minority_upsampled =resample(df_majority,replace = True,
n_samples = len(df_majority),
random_state =42)

In [17]:
df_minority_upsampled.shape

(900, 3)

In [ ]:
df_upsampled_updated = pd.concat([df_majority,df_minority_upsampled])

In [ ]:
df_upsampled_updated['target'].value_counts()

target
0    1800
Name: count, dtype: int64

In [26]:
df_majority = df[df['target'] == 0]
df_minority = df[df['target'] == 1]

In [27]:
from sklearn.utils import resample

df_minority_upsampled = resample(
    df_minority,
    replace=True,
    n_samples=len(df_majority),  # match majority class
    random_state=42
)

In [28]:
df_upsampled = pd.concat([df_majority, df_minority_upsampled]).reset_index(drop=True)

In [29]:
print(df_upsampled['target'].value_counts())

target
0    900
1    900
Name: count, dtype: int64