In [1]:
import sqlite3

In [3]:
### create a SQLite command

connection = sqlite3.connect('example.db')
connection

In [4]:
cursor = connection.cursor()

In [5]:
### Create a Table

cursor.execute('''
    CREATE TABLE IF NOT EXISTS employee(
               id Integer Primary Key,
               name Text Not Null,
               age Integer,
               department Text
               
               )
               

''')

### Commit the code

connection.commit()

In [6]:
cursor.execute('''
select * from employee
''')

In [7]:
### Insert data into table

cursor.execute('''

insert into employee(name,age,department)
               values('Andy',27,'Engineering')               


''')


cursor.execute('''

insert into employee(name,age,department)
               values('Ranjeet',27,'R&D')               


''')


cursor.execute('''

insert into employee(name,age,department)
               values('Amit',27,'Production')               


''')



connection.commit()

In [9]:
cursor.execute('''select * from employee''')

rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Andy', 27, 'Engineering')
(2, 'Ranjeet', 27, 'R&D')
(3, 'Amit', 27, 'Production')

In [10]:
### Update data into table

cursor.execute('''
    update employee
    set age = 34
    where id =1

''')

connection.commit()

In [12]:
cursor.execute('''select * from employee''')

rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Andy', 34, 'Engineering')
(2, 'Ranjeet', 27, 'R&D')
(3, 'Amit', 27, 'Production')

In [13]:
### Delete data from table

cursor.execute('''
delete from employee
where name ="Andy"
''')

connection.commit()

In [14]:
cursor.execute('''select * from employee''')

rows = cursor.fetchall()

for row in rows:
    print(row)

(2, 'Ranjeet', 27, 'R&D')
(3, 'Amit', 27, 'Production')