In [1]:
import sqlite3

In [3]:
connection = sqlite3.connect('example.db')
connection

In [4]:
cursor = connection.cursor()

In [5]:
### Create a table

cursor.execute('''
    create table if not exists employees(
               id integer primary key,
               name text not null,
               age integer,
               department text
               
               )

''')

### Commit the changes

connection.commit()

In [6]:
### Insert the records in table

cursor.execute('''

insert into employees(name,age,department)
               values("Ranjeet",27,"R&D")
''')

cursor.execute('''

insert into employees(name,age,department)
               values("Aditya",27,"R&D")
''')

cursor.execute('''

insert into employees(name,age,department)
               values("Amit",27,"R&D")
''')

cursor.execute('''

insert into employees(name,age,department)
               values("Arjun",27,"R&D")
''')

connection.commit()

In [7]:
### Retrive data from the table

cursor.execute('''select * from employees''')

rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Ranjeet', 27, 'R&D')
(2, 'Aditya', 27, 'R&D')
(3, 'Amit', 27, 'R&D')
(4, 'Arjun', 27, 'R&D')

In [10]:
### Update existing records from the table

cursor.execute('''
    update employees
    set age =34
    where id in(1,2)           

''')

connection.commit()

In [11]:
### Retrive data from the table

cursor.execute('''select * from employees''')

rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Ranjeet', 34, 'R&D')
(2, 'Aditya', 34, 'R&D')
(3, 'Amit', 27, 'R&D')
(4, 'Arjun', 27, 'R&D')

In [12]:
### Delete operation

cursor.execute('''
               delete from employees
               where id =1'''
               )

connection.commit()

In [13]:
cursor.execute('''select * from employees''')

rows = cursor.fetchall()

for row in rows:
    print(row)

(2, 'Aditya', 34, 'R&D')
(3, 'Amit', 27, 'R&D')
(4, 'Arjun', 27, 'R&D')

In [30]:
import sqlite3

# --- Insert block ---
conn = sqlite3.connect("company3.db")
cursor = conn.cursor()

cursor.execute('''
CREATE TABLE IF NOT EXISTS employees (
    id INTEGER PRIMARY KEY,
    name TEXT,
    age INTEGER
)
''')

employees = [
    (1, "Abhi", 30),
    (2, "John", 28),
    (3, "Sara", 35)
]

cursor.executemany("INSERT INTO employees (id, name, age) VALUES (?, ?, ?)", employees)
conn.commit()
conn.close()

# --- Retrieve block ---
conn = sqlite3.connect("company3.db")
cursor = conn.cursor()

cursor.execute("SELECT * FROM employees")
rows = cursor.fetchall()

for row in rows:
    print(row)

conn.close()

(1, 'Abhi', 30)
(2, 'John', 28)
(3, 'Sara', 35)