# Module 3: Data Structures Assignments
## Lesson 3.1: Lists
### Assignment 1: Creating and Accessing Lists

Create a list of the first 20 positive integers. Print the list.

### Assignment 2: Accessing List Elements

Print the first, middle, and last elements of the list created in Assignment 1.

### Assignment 3: List Slicing

Print the first five elements, the last five elements, and the elements from index 5 to 15 of the list created in Assignment 1.

### Assignment 4: List Comprehensions

Create a new list containing the squares of the first 10 positive integers using a list comprehension. Print the new list.

### Assignment 5: Filtering Lists

Create a new list containing only the even numbers from the list created in Assignment 1 using a list comprehension. Print the new list.

### Assignment 6: List Methods

Create a list of random numbers and sort it in ascending and descending order. Remove the duplicates from the list and print the modified list.

### Assignment 7: Nested Lists

Create a nested list representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 8: List of Dictionaries

Create a list of dictionaries where each dictionary represents a student with keys 'name' and 'score'. Sort the list of dictionaries by the 'score' in descending order and print the sorted list.

### Assignment 9: Matrix Transposition

Write a function that takes a 3x3 matrix (nested list) as input and returns its transpose. Print the original and transposed matrices.

### Assignment 10: Flattening a Nested List

Write a function that takes a nested list and flattens it into a single list. Print the original and flattened lists.

### Assignment 11: List Manipulation

Create a list of the first 10 positive integers. Remove the elements at indices 2, 4, and 6, and insert the element '99' at index 5. Print the modified list.

### Assignment 12: List Zipping

Create two lists of the same length. Use the `zip` function to combine these lists into a list of tuples and print the result.

### Assignment 13: List Reversal

Write a function that takes a list and returns a new list with the elements in reverse order. Print the original and reversed lists.

### Assignment 14: List Rotation

Write a function that rotates a list by n positions. Print the original and rotated lists.

### Assignment 15: List Intersection

Write a function that takes two lists and returns a new list containing only the elements that are present in both lists. Print the intersected list.

In [3]:
### Create a list of the first 20 positive integers. Print the list.

lst = list(range(1,21))
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [9]:
### Print the first, middle, and last elements of the list created in Assignment 1.

print("First Number in list is :",lst[0])
print("Middle Number in list is :",lst[len(lst) //2])
print("Last Number in the list is :",lst[-1])

First Number in list is : 1
Middle Number in list is : 11
Last Number in the list is : 20

In [21]:
### Print the first five elements, the last five elements, and the elements from index 5 to 15 of the list created in Assignment 1.

print(f"First 5 Numbers in list :{lst[:5]}")
print(f"Last 5 Numbers in list :{lst[15:]}")
print(f"index 5 to 15 of the list :{lst[5:16]}")

First 5 Numbers in list :[1, 2, 3, 4, 5]
Last 5 Numbers in list :[16, 17, 18, 19, 20]
index 5 to 15 of the list :[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [23]:
### Create a new list containing the squares of the first 10 positive integers using a list comprehension. Print the new list.
squares = [i** 2 for i in range (1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [25]:
### Create a new list containing only the even numbers from the list created in Assignment 1 using a list comprehension. Print the new list.

even_num =[j for j in lst if j%2 ==0]
print(even_num)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
### Create a list of random numbers and sort it in ascending and descending order. Remove the duplicates from the list and print the modified list.
import random
#Random List
random_list = [random.randint(1,20) for _ in range(15)]
print(random_list)

# Sorted List
sorted_list = sorted(random_list)
print(sorted_list)

# Remove duplicate
unique_list = list(set(random_list))
print(unique_list)

[1, 2, 17, 15, 2, 8, 16, 17, 15, 4, 5, 15, 19, 16, 15]
[1, 2, 2, 4, 5, 8, 15, 15, 15, 15, 16, 16, 17, 17, 19]
[1, 2, 4, 5, 8, 15, 16, 17, 19]

In [34]:
### Create a nested list representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

matrix = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
print(matrix)

for row in matrix:
    print(row)
print(matrix[1][2])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
6

In [41]:
### Create a list of dictionaries where each dictionary represents a student with keys 'name' and 'score'. Sort the list of dictionaries by the 'score'
#  in descending order and print the sorted list.

stud_list = [
    {'name' : "Martin",'score':88},
    {'name' : "Austin",'score':65},
    {'name' : "Lucey",'score':60},
    {'name' : "Bob",'score':84}
]

print(stud_list)

sorted_stud_list = sorted(stud_list,key=lambda x:x['score'],reverse=True)
print(sorted_stud_list)

for i in sorted_stud_list:
    print(i)

[{'name': 'Martin', 'score': 88}, {'name': 'Austin', 'score': 65}, {'name': 'Lucey', 'score': 60}, {'name': 'Bob', 'score': 84}]
[{'name': 'Martin', 'score': 88}, {'name': 'Bob', 'score': 84}, {'name': 'Austin', 'score': 65}, {'name': 'Lucey', 'score': 60}]
{'name': 'Martin', 'score': 88}
{'name': 'Bob', 'score': 84}
{'name': 'Austin', 'score': 65}
{'name': 'Lucey', 'score': 60}

In [ ]:
### Write a function that takes a 3x3 matrix (nested list) as input and returns its transpose. Print the original and transposed matrices.

In [ ]:
### Write a function that takes a nested list and flattens it into a single list. Print the original and flattened lists.

def flatted_list(list1):
    flat_list = [i for sublist in list1 for i in sublist]
    return flat_list

list1 = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

print(list1)
flattened_list = flatted_list(list1)
print(flattened_list)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [49]:
### Create a list of the first 10 positive integers. Remove the elements at indices 2, 4, and 6, and insert the element '99' at index 5. Print the modified list.

lst1 = list(range(1,11))
print(lst1)
del lst1[2]
del lst1[4]
del lst1[6]
lst1.insert(5,99)
print(lst1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 4, 5, 7, 99, 8, 10]

In [50]:
### Create two lists of the same length. Use the `zip` function to combine these lists into a list of tuples and print the result.

zip1 =list(range(1,6))
zip2 = list(range(7,11))
zipped =list(zip(zip1,zip2))
print(zipped)

[(1, 7), (2, 8), (3, 9), (4, 10)]

In [2]:
### Managing the student grades

grades = [98,85,65,78]

grades.append(80)

print(sum(grades)/len(grades))
print(max(grades))
print(min(grades))

81.2
98
65

In [9]:
## Managing the inventory

inventory = [ 'Banana','Apple','Orange','Grapes']
inventory.append('Mango')
print(inventory)

inventory.remove('Apple')
print(inventory)

item = 'Banana'
   
if item in inventory:
    print("Banana is in the inventory")
else:   
    print("Banana is not in the inventory")

['Banana', 'Apple', 'Orange', 'Grapes', 'Mango']
['Banana', 'Orange', 'Grapes', 'Mango']
Banana is in the inventory