In [ ]:
# Basic tuple operations
tup1 = (1, 2, 3, 4, 5)
tup2 = ('a', 'b', 'c')

# Tuple methods and operations
print("Length:", len(tup1))
print("Count of 2:", tup1.count(2))
print("Index of 3:", tup1.index(3))
print("Concatenation:", tup1 + tup2)
print("Slicing:", tup1[1:4])

# Tuple unpacking
x, y, z = tup2
print("Unpacked values:", x, y, z)

# Nested tuple
nested_tup = ((1, 2), (3, 4))
print("Nested tuple:", nested_tup)

# Tuple with single element
single_tup = (1,)
print("Single element tuple:", single_tup)

# Interview problem: Swap two numbers using tuple
def swap_numbers(a, b):
    a, b = b, a
    return a, b

# LeetCode Easy: Convert array to tuple and find sum
def array_pair_sum(nums):
    nums.sort()
    return sum(nums[::2])

# LeetCode Medium: Encode and decode strings using tuple
def encode(strs):
    return tuple(strs)

def decode(encoded_tuple):
    return list(encoded_tuple)

# Test the functions
print("\nSwap numbers:", swap_numbers(5, 10))
print("Array pair sum:", array_pair_sum([1,4,3,2]))
print("Encode/Decode:", decode(encode(['Hello', 'World'])))

In [1]:
tup = (1,'ragini',2.5,True)
print(tup)

(1, 'ragini', 2.5, True)

In [8]:
tup[1]
print(tup[1:5])

('ragini', 2.5, True)

In [9]:
tup[1] = 'Ragini'
print(tup[1])

TypeError: 'tuple' object does not support item assignment

In [ ]:
### Convert tuple to list and modify
lst = list(tup)
print(lst)
lst[1] = 'asha'
print(lst)

[1, 'ragini', 2.5, True]
[1, 'asha', 2.5, True]

In [11]:
### Convert list to tuple
tup = tuple(lst)
print(tup)

(1, 'asha', 2.5, True)

In [12]:
### Tuple Methods
tup = (1,2,3,4,5,6,7,8,9,10,1,3,5,7,8,9,10)
print(tup.count(1))  # Count occurrences of 1
print(tup.index(3))  # Find index of first occurrence of 3

2
2

In [14]:
### Packing and Unpacking the tuple
Pack_tup = 1,'Arjun',2.5,'Amit'
print(Pack_tup)

a,b,c,d = Pack_tup
print(a)
print(b)
print(c)
print(d)

(1, 'Arjun', 2.5, 'Amit')
1
Arjun
2.5
Amit

In [15]:
a= 1,2,3,4,5,6,7,8,9,10
first, *middle, last = a
print(first)  # First element
print(middle)  # Middle elements
print(last)  # Last element

1
[2, 3, 4, 5, 6, 7, 8, 9]
10

In [17]:
### Neatest Tuple

lst =[[1,2,3],[2,3,4],(4,'Abhi',5)]
lst[1][1] = 'Amit'
print(lst)

[[1, 2, 3], [2, 'Amit', 4], (4, 'Abhi', 5)]

In [20]:
tup1 =((2,4,6),(1,3,5),(True,False))
print(tup1[0][2])  # Accessing nested tuple element
print(tup1[1][0])  # Accessing nested tuple element
print(tup1[2][1])  # Accessing nested tuple element

6
1
False

In [22]:
#### Accesing tuple elements using loop
for i in (tup1):
    for j in i:
        print(j, end=' ')

2 4 6 1 3 5 True False